body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
  padding: 5px 20px;
  background-color: #a83d36;
  /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1); */
  /* I looked up the color code, is that allowed??? */
}

.logo {
  height: 50px;
  width: 50px;
}

main {
  background-color: antiquewhite;
}

#banner {
  height: 600px;
  background-image: url("assets/banner.jpg");

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: fit-content;
    min-height: 250px;
    border-radius: 5px;
    padding: 20px;
    transform: translate(100px, 100px);
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px;

  h2 {
    width: fit-content;
  }
}

.contentGrid {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* height: 450px; */
  width: 450px;
  border-radius: 5px;
  padding-inline: 10px;

  .albumCover {
    height: 250px;
    width: 250px;
  }

  h3 {
    margin-bottom: 0;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 5px;
  background-color: #a83d36;
  /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08); */

  p {
    text-align: right;
  }
}
